<p>
    <strong>HW Name</strong>
    <%= @homework.hw_name %>
</p>

<p>
    <strong>Due Date</strong>
    <%= @homework.due_date %>
</p>

<p>
    <strong>Time Required</strong>
    <%= @homework.time_required %>
</p>

<p>
    <strong>Note</strong>
    <%= @homework.note %>
</p>